---
# Source: adguard-home/templates/configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: adguard-config
  labels:
    app: adguard
data:
  AdGuardHome.yaml: |-
    users:
    - name: "admin"
      password: "$2y$10$L9CADNtfhLSSjWZy2XExfOuvSPWuZnySjX5kgtpwo/VENQcc6HR5C"   
    bind_host: 0.0.0.0
    bind_port: 3000
    beta_bind_port: 0
    auth_attempts: 5
    block_auth_min: 15
    http_proxy: ""
    language: ""
    debug_pprof: false
    web_session_ttl: 720
    dns:
      bind_hosts:
      - 0.0.0.0
      port: 53
      statistics_interval: 1
      querylog_enabled: true
      querylog_file_enabled: true
      querylog_interval: 2160h
      querylog_size_memory: 1000
      anonymize_client_ip: false
      protection_enabled: true
      blocking_mode: default
      blocking_ipv4: ""
      blocking_ipv6: ""
      blocked_response_ttl: 10
      parental_block_host: family-block.dns.adguard.com
      safebrowsing_block_host: standard-block.dns.adguard.com
      ratelimit: 20
      ratelimit_whitelist: []
      refuse_any: true
      upstream_dns:
      - 192.168.8.1 
      upstream_dns_file: ""
      bootstrap_dns:
      - 9.9.9.10
      - 149.112.112.10
      - 2620:fe::10
      - 2620:fe::fe:10
      all_servers: false
      fastest_addr: false
      fastest_timeout: 1s
      allowed_clients: []
      disallowed_clients: []
      blocked_hosts:
      - version.bind
      - id.server
      - hostname.bind
      trusted_proxies:
      - 127.0.0.0/8
      - ::1/128
      cache_size: 4194304
      cache_ttl_min: 0
      cache_ttl_max: 0
      cache_optimistic: false
      bogus_nxdomain: []
      aaaa_disabled: false
      enable_dnssec: false
      edns_client_subnet: false
      max_goroutines: 300
      ipset: []
      filtering_enabled: true
      filters_update_interval: 24
      parental_enabled: false
      safesearch_enabled: false
      safebrowsing_enabled: false
      safebrowsing_cache_size: 1048576
      safesearch_cache_size: 1048576
      parental_cache_size: 1048576
      cache_time: 30
      rewrites: []
      blocked_services: []
      upstream_timeout: 10s
      private_networks: []
      use_private_ptr_resolvers: true
      local_ptr_upstreams: []
    tls:
      enabled: false
      server_name: ""
      force_https: false
      port_https: 443
      port_dns_over_tls: 853
      port_dns_over_quic: 853
      port_dnscrypt: 0
      dnscrypt_config_file: ""
      allow_unencrypted_doh: false
      strict_sni_check: false
      certificate_chain: ""
      private_key: ""
      certificate_path: ""
      private_key_path: ""
    filters: 
      - enabled: true
        url: "https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt"
        name: "AdGuard DNS filter"
      - enabled: true
        url: "https://adaway.org/hosts.txt"
        name: "AdAway Default Blocklist"
      - enabled: true
        url: "https://raw.githubusercontent.com/durablenapkin/scamblocklist/master/adguard.txt"
        name: "Scam Blocklist by DurableNapkin"
      - enabled: true
        url: "https://raw.githubusercontent.com/DandelionSprout/adfilt/master/Alternate%20versions%20Anti-Malware%20List/AntiMalwareAdGuardHome.txt"
        name: "Dandelion Sprout's Anti-Malware List"
      - enabled: true
        url: "https://raw.githubusercontent.com/crazy-max/WindowsSpyBlocker/master/data/hosts/spy.txt"
        name: "WindowsSpyBlocker - Hosts spy rules"
      - enabled: true
        url: "https://malware-filter.gitlab.io/malware-filter/urlhaus-filter-agh-online.txt"
        name: "Online Malicious URL Blocklist"
      - enabled: true
        url: "https://adguardteam.github.io/HostlistsRegistry/assets/filter_51.txt"
        name: "HaGeZi's pro++"
      - enabled: true
        url: "https://adguardteam.github.io/HostlistsRegistry/assets/filter_44.txt"
        name: "h intelegence treats"
      - enabled: true
        url: "https://abp.oisd.nl/basic/"
        name: "OISD Blocklist Basic"
      - enabled: true
        url: "https://adguardteam.github.io/HostlistsRegistry/assets/filter_54.txt"
        name: "HaGeZi's DynDNS Blocklist"
    
    whitelist_filters: []
    user_rules: []
    dhcp:
      enabled: false
      interface_name: ""
      local_domain_name: lan
      dhcpv4:
        gateway_ip: ""
        subnet_mask: ""
        range_start: ""
        range_end: ""
        lease_duration: 86400
        icmp_timeout_msec: 1000
        options: []
      dhcpv6:
        range_start: ""
        lease_duration: 86400
        ra_slaac_only: false
        ra_allow_slaac: false
    clients:
      runtime_sources:
        whois: true
        arp: true
        rdns: true
        dhcp: true
        hosts: true
      persistent: []
    log_compress: false
    log_localtime: false
    log_max_backups: 0
    log_max_size: 100
    log_max_age: 3
    log_file: ""
    verbose: false
    os:
      group: ""
      user: ""
      rlimit_nofile: 0
    schema_version: 14
---
# Source: adguard-home/templates/svc.yaml
kind: Service
metadata:
  name: release-name-adguard-home
  labels:
    app.kubernetes.io/instance: release-name
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: adguard-home
    app.kubernetes.io/instance: release-name
---
# Source: adguard-home/templates/svc.yaml
# apiVersion: v1
# kind: Service
# metadata:
#   name: adguard-rb 
# spec:
#   selector:
#     app.kubernetes.io/name: adguard-home
#   ports:
#     - protocol: UDP 
#       port: 53
#       targetPort: 53
#       name: dns-udp
#     - protocol: TCP
#       port: 53
#       targetPort: 53
#       name: dns-tcp
#   type: LoadBalancer
---
# Source: adguard-home/templates/deploy.yaml
# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: adguard 
#   labels:
#     app.kubernetes.io/name: adguard
# spec:
#   replicas: 1
#   strategy:
#     type: Recreate
#   selector:
#     matchLabels:
#       app.kubernetes.io/name: adguard
#   template:
#     metadata:
#       labels:
#         app.kubernetes.io/name: adguard
#         app.kubernetes.io/instance: release-name
#     spec:      
#       automountServiceAccountToken: false
#       dnsPolicy: ClusterFirst
#       initContainers:
#         - command:
#           - sh
#           - -c
#           - |
#             if [ ! -f /opt/adguardhome/conf/AdGuardHome.yaml ]; then
#               mkdir -p /opt/adguardhome/conf
#               cp /tmp/AdGuardHome.yaml /opt/adguardhome/conf/AdGuardHome.yaml
#             fi
#           image: busybox
#           imagePullPolicy: Always
#           name: copy-configmap
#           securityContext:
#             runAsUser: 0
#           volumeMounts:
#           - mountPath: /tmp/AdGuardHome.yaml
#             name: adguard-home-config
#             subPath: AdGuardHome.yaml
#           - mountPath: /opt/adguardhome/conf
#             name: config
#       containers:
#         - name: release-name-adguard-home
#           image: "adguard/adguardhome:v0.107.65"
#           imagePullPolicy: Always 
#           resources: 
#             requests:
#               memory: "250Mi"
#               cpu: "1m"
#             limits:
#               memory: "512Mi"
#               cpu: "25m"
#           args:
#             - --config
#             - /opt/adguardhome/conf/AdGuardHome.yaml
#             - --work-dir
#             - /opt/adguardhome/work
#             - --no-check-update
#           env:
#             - name: TZ
#               value: UTC
#           ports:
#             - name: dns-tcp
#               containerPort: 53
#               protocol: TCP
#             - name: dns-udp
#               containerPort: 53
#               protocol: UDP
#             - name: http
#               containerPort: 3000
#               protocol: TCP
#           volumeMounts:
#             - name: adguard-home-config
#               mountPath: /tmp/AdGuardHome.yaml
#               subPath: AdGuardHome.yaml
#             - name: config
#               mountPath: /opt/adguardhome/conf
#           livenessProbe:
#             tcpSocket:
#               port: 3000
#             initialDelaySeconds: 0
#             failureThreshold: 3
#             timeoutSeconds: 1
#             periodSeconds: 10
#           readinessProbe:
#             tcpSocket:
#               port: 3000
#             initialDelaySeconds: 0
#             failureThreshold: 3
#             timeoutSeconds: 1
#             periodSeconds: 10
#           startupProbe:
#             tcpSocket:
#               port: 3000
#             initialDelaySeconds: 0
#             failureThreshold: 30
#             timeoutSeconds: 1
#             periodSeconds: 5
#       volumes:
#         - name: adguard-home-config
#           configMap:
#             name: release-name-adguard-home-config
#         - name: config
#           emptyDir: {}
