apiVersion: v1
kind: ConfigMap
metadata:
  name: adguard-config
  labels:
    app: adguard
data:
  AdGuardHome.yaml: |
    users:
    - name: {{ .Values.users.name }}
      password: {{ .Values.users.password }}
{{ .Values.config | indent 4 }}
